<h3>All artists: </h3>

<ul>
    <% @artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %></li>
    <% end %>
</ul>

<h4><%= link_to "Add a new artist", new_artist_path %></h4>